.main {
  display: flex;
  height: 100vh;
  background-color: var(--light-blue);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sidebarContent{
  width: calc(100% - 350px);
}

.container {
  flex-grow: 1;
  padding: 2em;
  background-color: var(--light-blue);
  flex-direction: column;
  height: 100vh;


}


.page {
  width:  calc(100% - 350px);
  position: absolute;
  top: 80px;
  left: 350px;
  background-color: var(--light-blue);
  padding: 30px;
 

}
/* @media only screen and (max-width: 600px) {
  .sidebarContent {
  display: none;
}
.page{
 left: 0;
}} */